@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;*
}

body {
  background-color: black;
}

#welcome {

}

#welcomeImg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#welcomePopup button {
  position: fixed;
  top: 50%;
  left: 50%;
}

.popup p {
  font-family: Impact, sans-serif;
  color: red;
  font-size: 200px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}

